/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  line-height:1.3em;
  border:0 none;
}

body {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  box-sizing:border-box;
  margin:0 auto;
  font-size:100%;
  line-height:1.3em;
  font-family:sans-serif;
  word-break:normal;
  text-size-adjust:100%;
}

*::before, *::after {
  box-sizing:border-box;
  margin:0;
}

sub, sup {
  font-family:inherit;
}

// 장식용 엘리먼트
b,i,s,u {
  font-style:normal;
  font-weight:inherit;
  text-decoration:none;
  font-style:normal;
}

// heading group
h1, h2, h3, h4, h5, h6 {
  font-family:inherit;
  line-height:1.1;
  font-weight:normal;
}

// anchor
a:link {
  text-decoration:none;
}

table {
  border-collapse:collapse;
  max-width:100%;
}

// zero club
h1, h2, h3, h4, h5, h6, figure, figcaption, dt, dd, dl, iframe {
  padding:0;
  margin:0;
}

iframe {
  border:0;
}

// typo
address, em {
  font-style:normal;
}

em {
  font-weight:500;
}

strong {
  font-weight:700;
}

// ------------------------------------------------------------
// element base style setup
// ------------------------------------------------------------
button,
a.button,
input[type='submit'] {
  // reset
  cursor:pointer;
  border-width:0;
  border-style:solid;
  border-color:transparent;
  background:transparent;
  appearance:none;
  display:inline-block;
  line-height:1.1;
  box-sizing:border-box;
  text-align:center;
  font-family:inherit;
  font-size:inherit;
  border-radius:0;
  padding:0;
  margin:0;
  outline:0;

  &::first-letter {
    text-transform:uppercase;
  }
}

p {
  word-break:keep-all;
}

img {
  border:0;
  max-width:100%;
}

// ------------------------------------------------------------
// reset
// ------------------------------------------------------------
// reset to touch feedback color

a:link, button {
  -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}

form, legend, input, select, textarea {
  font-family:inherit;
}
